body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

/* 
.hover-item {
	background-color: #FFF;
}

.hover-item:hover {
	background-color: inherit;
}

ui.button.create-new-menu-btn {
  border-radius: 0;
  background-color: red;
}
*/
